table.contentTable {
    margin-left:25%; 
    margin-top:3%;
}
table.contentTable td {
    vertical-align: top;
}
div#content1, div#content2 {
    display:inline-block; 
    width:250px;
}
div#submitButton, div#downloadArea {
    margin-left:25%;
}
iframe#responseFrame {
    width:0;
    height:0;
    border:0;
    display:none;
}
.queryField {
    width:600px;
    height:130px;
    resize:none;
}
.uploadGif {
	width:100px;
    height:100px;
    resize:none;
}
.hiddenLink {
	display:none;
}
.comment {
	font-size:8pt;
	margin-left:373px;
	vertical-align:top;
}